/* Home.css */
.home-container {
    max-width: 80%; /* Container stretches 80% of the screen from right to left */
    margin: auto; /* Center the container horizontally */
    margin-top: 150px;
}

.post-container {
    margin-bottom: 20px; /* Add margin between post containers */
    padding: 20px; /* Add padding to post containers for spacing */
    border: 1px solid #ccc; /* Add border for visual separation */
    background-color: #b6b6b6;
    border-radius: 8px;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.Link {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
}

.sort-options {
    margin-bottom: 10px;
}

.sort-options button {
    margin-left: 10px;
}

.sort-options button.active {
    background-color: #333;
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Align search bar to the right */
    margin-bottom: 10px;
    width: 300px;
    margin-left: 0px;
}
  
.search-bar input[type="text"] {
    border: 1px solid black; /* Add black border to input field */
    padding: 8px; /* Add padding to input field */
}
  
.search-bar button {
    background: transparent; /* Make button background transparent */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
}
  
.search-bar button:focus {
    outline: none; /* Remove default focus outline */
}

.loading-container {
    position: fixed; /* Position the container relative to the viewport */
    top: 50%; /* Place the top edge of the container at the vertical center of the viewport */
    left: 50%; /* Place the left edge of the container at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Center the container both vertically and horizontally */
    z-index: 9999; /* Ensure the loading animation is on top of other content */
  }
  