.post-details-container {
    max-width: 800px;
    max-height: 1000px;
    margin: 100px auto;
    padding: 50px;
    background-color: #b6b6b6;
    border-radius: 8px;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    text-align: left;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.youtube-video {
    height: 350px; /* Adjust the height of the video as needed */
    width: 600px;
}  

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    border-radius: 8px;
}

.close {
    float: right;
    cursor: pointer;
    margin-bottom: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.left-buttons {
    display: flex;
    align-items: center;
}

.right-buttons {
    display: flex;
    align-items: center;
}

.button-container button {
    background-color: rgba(46, 45, 45, 0.5); /* Greyed out and slightly opaque */
    border: none;
    border-radius: 20px; /* Make the buttons round */
    padding: 10px 15px; /* Adjust padding as needed */
    margin-left: 5px;
}

.button-container button:hover {
    background-color: rgba(15, 15, 15, 0.7); /* Darker grey on hover */
}

.button-container button:disabled {
    opacity: 0.5; /* Make the button slightly opaque when disabled */
    cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

.upvote-count {
    margin-right: auto; /* Push upvote count to the left */
    margin-left: 5px; /* Add some left margin */
}

.upvote-button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: auto; /* Push upvote button to the left */
    margin-bottom: 10px; /* Add some bottom margin */
}

.upvote-button.upvoted {
    background-color: #076df3;
    color: #ffffff;
}

.comment-section {
    flex-grow: 1; /* Allow the comment section to grow to fill remaining space */
    overflow-y: auto; /* Add vertical scroll if content exceeds container height */
}

.comment-input {
    margin-bottom: 20px; /* Add some bottom margin for spacing */
  }
  
.comment-input textarea {
    width: 100%; /* Make the textarea width 100% of its container */
    max-width: 100%; /* Set maximum width to 100% to ensure responsiveness */
    resize: vertical; /* Allow vertical resizing */
    height: 40px; /* Set the height of the textarea */
}

.comment-input button {
    margin-top: 10px; /* Add some top margin to create space between textarea and button */
}

.comment {
    border: 1px solid #000000; /* Add border to each comment */
    border-radius: 8px; /* Add border radius for rounded corners */
    padding: 10px; /* Add padding inside each comment */
    margin-bottom: 10px; /* Add bottom margin between comments */
    background-color: #888888;
}

@media screen and (max-width: 768px) {
    .post-details-container {
        max-width: 100%; /* Adjust max-width to fit smaller screens */
        padding: 20px; /* Reduce padding for smaller screens */
        font-size: 10px;
    }

    .post-details-container .button-container button {
        padding: 8px 12px; /* Adjust padding for smaller buttons */
    }

    .post-details-container .upvote-button {
        font-size: 0.8rem; /* Reduce font size for upvote button */
    }

    .post-details-container .comment-input textarea {
        height: 30px; /* Reduce height of textarea for smaller screens */
    }

    .post-details-container .comment {
        padding: 8px; /* Adjust padding for comments on smaller screens */
    }

    .post-details-box img,
    .post-details-box video {
        max-width: 100%; /* Ensure media fills container width */
        height: auto; /* Maintain aspect ratio */
    }

    .youtube-video {
        height: 300px; /* Adjust the height of the video as needed */
        width: 100%;
    }  
}

  