.container {
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    text-align: center;
    height: calc(100vh - 60px); /* Subtract navbar height from viewport height */
    padding-top: 60px;
}

.signup-box {
    background-color: #808080; /* Background color for the box */
    border-radius: 8px; /* Border radius for rounded corners */
    padding: 20px; /* Padding inside the box */
    width: 300px; /* Width of the box */
}

.signup-box input {
    margin-bottom: 10px; /* Add bottom margin to input boxes */
}

.content {
    text-align: center; /* Center text */
}

.button-container {
    margin-top: 10px; /* Add margin to separate button from input fields */
}

.file-input-container {
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
  
  .file-input-container button {
    margin-left: 10px; /* Adjust this value as needed */
  }
  