.signup-container {
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    text-align: center;
    height: calc(100vh - 60px); /* Subtract navbar height from viewport height */
    padding-top: 60px;
}

.signup-box {
    background-color: #b6b6b6; /* Background color for the box */
    border-radius: 8px; /* Border radius for rounded corners */
    padding: 20px; /* Padding inside the box */
    width: 300px; /* Width of the box */
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.signup-box input {
    margin-bottom: 10px; /* Add bottom margin to input boxes */
}

.signup-box input {
    margin-bottom: 10px; /* Add bottom margin to input boxes */
}


.content {
    text-align: center; /* Center text */
}

.signup-button-container button {
    padding: 10px 20px; /* Add padding to the button */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Apply border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 10px;
  }
  
.signup-button-container button:hover {
  background-color: #0056b3; /* Darken button background color on hover */
}

.file-input-container {
  align-items: center;
}
  
.file-input-container button {
  margin-left: 100px; /* Adjust this value as needed */
}

.file-input-container input[type="file"] {
  align-items: center;
  margin-left: 80px;
}

@media screen and (max-width: 768px) {
  .signup-container {
      padding-top: 50px; /* Reduce top padding */
  }

  .signup-box {
      width: 240px; /* Reduce width of signup box */
      padding: 15px; /* Reduce padding inside the box */
  }

  .signup-box input {
      font-size: 10px; /* Reduce font size of input fields */
      margin-bottom: 8px; /* Adjust margin bottom of input fields */
  }

  .signup-button-container button {
      font-size: 12px; /* Reduce font size of signup button */
      padding: 8px 16px; /* Adjust padding of signup button */
      margin-top: 8px; /* Adjust margin top of signup button */
  }

  .file-input-container button {
      margin-left: 80px; /* Adjust margin left of file input button */
  }

  .file-input-container input[type="file"] {
      margin-left: 60px; /* Adjust margin left of file input */
  }
}
